.popover{
    border: none;
    text-align: center;

}
.popover-header{
    line-height: 1.5;
    color: #cdcfd2;
    background: #3e5381;
}
.popover-body{
    line-height: 1.5;
    background: #13203c;
    color: #018d89;
}
.SignOutbtn{
    display: block;
    border: none;
    margin: 10px 0;
    width: 100%;
    color:rgb(255 0 0);
    background: #13203c;
}
.SignOutbtn:hover{
    box-shadow: 0px 0px 9px 2px;
    background: transparent;
}